body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7a3a3;
    cursor: url('cursor1.png'), auto; /* Set custom cursor */
}

.container {
    position: relative;
    text-align: center;
    cursor: url('cursor1.png'), auto;
}

#candle {
    width: 150px;
    height: auto;
    cursor: url('cursor1.png'), auto;
}
